.backup-files-container {
  height: 100%;
  width: 100%;
  padding: 0px 50px;
}

.backup-file-add{
  margin: 10px 40px 0px;
  transition: all .5s ease;
  font-size: 2rem;
  color: rgb(160, 160, 160);
}

.backup-file-add:hover {
  cursor: pointer;
  color: rgb(79, 116, 171);
  background: rgba(255, 255, 255, 0.35);
  font-size: 3rem;
}

.backup-file-add.active{
  height: 100%;
  background: transparent;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  /* overflow: hidden; */
}

.backup-files {
  width: 100%;
  min-height: 80vh;
}

.backup-file-block {
  position: relative;
  overflow: hidden;
  margin: 24px 40px;
}

.backup-files-pagination {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.available-servers {
  padding: 10px 5px 1px;
  transition: all .3s ease;
}

.available-servers:hover {
  background: rgba(105, 104, 104, 0.35);
  cursor: pointer;
}