.backup-files-container {
  height: 100%;
  width: 100%;
  padding: 0px 50px;
}

.backup-file-add{
  margin: 10px 40px 0px;
  transition: background .5s ease, font-size .5s ease, color .5s ease;
  font-size: 2rem;
  color: rgb(160, 160, 160);
  /* padding: 10px; */
}

.backup-file-add:hover {
  cursor: pointer;
  color: rgb(79, 116, 171);
  background: rgba(255, 255, 255, 0.35);
  font-size: 3rem;
}

.backup-files {
  width: 100%;
  min-height: 80vh;
}

.backup-file-block {
  position: relative;
  overflow: hidden;
  margin: 24px 40px;
}

.backup-files-pagination {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}